<html>
<head>
  <title>ACP - Submit Times</title>
</head>
<body>

    <form action="/new" method="POST">
        <p>Begin Date: {{ session.begin_date }}</p>
        <p>Begin Time: {{ session.begin_time }}</p>
        <p>Total Distance: {{ session.total_distance }}</p>
        <p>Name / Description / Distance:
            <input type="text" name="name">
            <input type="text" name="description">
            <input type="text" name="distance">
        </p>
        <input type="submit">
    </form>

    <br>

</body>
</html>
